/* تخصيص مظهر شريط التمرير */

/* تخصيص شريط التمرير في المتصفحات التي تدعم Webkit (مثل Chrome و Safari) */
.scroll::-webkit-scrollbar {
    width: 10px;
}
  
.scroll::-webkit-scrollbar-thumb {
    background-color: #a0bdd1;  /* لون الشريط */
    border-radius: 8px;  /* جعل الشريط مدور الحواف */
}

.scroll::-webkit-scrollbar-track {
    opacity: 1;
    background-color: transparent;  /* خلفية الشريط */
    border-radius: 8px;  /* جعل الخلفية مدورة الحواف */
}

/* تخصيص مظهر شريط التمرير في Firefox */
.scroll {
    scrollbar-width: thin;  /* جعل الشريط أرفع في Firefox */
    scrollbar-color: #a0bdd1 #c7dde9;  /* تخصيص الألوان في Firefox (اللون الأول للشريط، الثاني للخلفية) */
    overflow-y: scroll; /* يجعل الشريط مرئيًا دائمًا في الاتجاه العمودي */
    padding-right: 10px; 
    box-sizing: border-box;
}
  